In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
host='localhost',
user='root',
password='12345678')
conn
cursor = conn.cursor()
cursor

In [ ]:
# Create connection to MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678'
)
cursor = conn.cursor()

# Create database if it doesn't exist
cursor.execute("CREATE DATABASE IF NOT EXISTS redbus_db")
cursor.execute("USE redbus_db")

# Create table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS bus_routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    busname TEXT,
    bustype TEXT,
    departing_time DATETIME,
    duration TEXT,
    reaching_time DATETIME,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
)
''')

conn.commit()
#conn.close()

In [ ]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678'
)
cursor = conn.cursor()

cursor.execute("USE redbus_db")
query = "select id from bus_routes"
cursor.execute(query)
for col in cursor:
    print(col)

In [ ]:
cursor.execute("select * from bus_routes")

table_description = cursor.fetchall()
for desc in table_description:
    print(desc)